* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  max-width: 1440px;
  font: 16px "Red Hat Display", sans-serif;
  background: url("./images/pattern-background-desktop.svg") no-repeat
    var(--pale-blue);
}

.component {
  width: 440px;
  margin: 112px auto;
  background: var(--very-pale-blue);
  border-radius: 20px;
  box-shadow: 0 10px 50px rgb(216, 216, 216);
}

.hero {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
}

.summary {
  text-align: center;
}
.summary h1 {
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--dark-blue);
}
.summary p {
  line-height: 1.5rem;
  padding: 0 20px;
  color: var(--desaturated-blue);
  font-weight: 500;
  margin-bottom: 40px;
}

.plan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
  margin-bottom: 50px;
}
.plan > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.price > p {
  color: var(--dark-blue);
  font-weight: 900;
}
.price p:last-child {
  color: var(--desaturated-blue);
  font-weight: 500;
}
.plan a {
  color: var(--bright-blue);
  font-weight: 700;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.buttons button:first-child {
  padding: 15px 0;
  border-radius: 10px;
  border: none;
  background: var(--bright-blue);
  color: var(--very-pale-blue);
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 30px;
  line-height: 20px;
  box-shadow: 0 10px 10px rgb(216, 216, 216);
}
.buttons button:last-child {
  border: none;
  cursor: pointer;
  background: none;
  color: var(--desaturated-blue);
  font-weight: 900;
}
